body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b2a38;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 420px;
    padding: 60px;
    position: relative;
    background: #0b1a24;
    text-align: center;
    border-radius: 10px;
}

.key-icon img {
    width: 70px;
    margin-bottom: 20px;
}

/* Login text box */

.login-box h2 {
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #0c697d;
    outline: none;
    color: white;
    font-size: 18px;
}

.textbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .4s;
}

.textbox input:focus~label,
.textbox input:valid~label{
    top: -5px;
}

.btn {
    width: 100%;
    background: #0c697d;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background: #0e7a94;
}



.admin-header-div{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.admin-header-div button{
    font-size: 0.9em;
    background-color: #0c697d;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.admin-header-home:hover {
    background: #0e7a94;
}
.admin-header-userlogin:hover {
    background: #0e7a94;
}

/* Copyright area */
.copy{
    display: flex;
    flex: 1;
    align-items: center;
    position: absolute;
    bottom: -10px;
}

.copy img{
    max-width: 10px;
}

.copy h6{
    color: white;
    padding-left: 5px;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input[type="password"] {
    width: calc(100% - 40px); 
}

.password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    color: white;
}